<html>
<head>
  <title>Sessions</title>
  <%= stylesheet_link_tag "sessions", :media => "all" %>
</head>

<body>
  <div class="sessions">
    <% if current_user %>
    Welcome <%= current_user.name %>!
      <%= link_to "Sign Out", logout_path %>
    <% else %>
      <%= link_to "Login with LinkedIn", '/auth/linkedin' %>
    <% end %>
  </div>
</body>
</html>
